@import url("https://fonts.googleapis.com/css2?family=Passero+One&family=Labrada&display=swap");

:root,
::backdrop {
	/* Colors (palette)*/
	--col-black: rgb(20, 20, 20);
	--col-black-alpha: rgba(20, 20, 20, 0.5);
	--col-grey: rgb(200, 200, 200, 0.8);
	--col-white: rgb(255, 255, 255);
	--col-orange-dark: rgb(224, 60, 36);
	--col-orange-light: rgb(249, 167, 34);
	--col-orange: rgb(245, 117, 16);
	--col-darker-sea-blue: rgb(1, 64, 79);
	--col-sea-blue: rgb(6, 70, 84);
	--col-lighter-sea-blue: rgb(51, 99, 109);
	--col-darker-sea-blue-alpha: rgb(1, 64, 79, 0.7);
	--col-sunk-ship-overlay: rgb(255, 0, 150, 0.3);

	/* Colors (background)*/
	--bg-col: var(--col-white);
	--gameboard-bg-col: var(--col-sea-blue);
	--cell-border-col: var(--col-darker-sea-blue-alpha);
	--cell-hit-col: var(--col-orange-light);
	--cell-miss-col: var(--col-white);
	--orange-gradient: linear-gradient(
		var(--col-orange-light),
		var(--col-orange),
		var(--col-orange-dark)
	);
	--txt-bg-col: var(--col-black-alpha);

	/* Colors (text/icons)*/
	--col-txt: var(--col-black);
	--col-txt-alt: var(--col-white);
	--col-txt-accent: var(--col-orange);

	/* Font family */
	--main-font: "Passero One", monospace;
	--accent-font: "Labrada", serif;

	/* Font sizes */
	--txt-fontsize: 18px;
	--txt-lineheight: 1;
	--h1-fontsize: 1.2;
	--msg-fontsize: 1rem;
	--title-fontsize: 3.2rem;
	--subtitle-fontsize: 1.2rem;
	--button-fontsize: 1.5rem;
	--player-title-fontsize: 1.5rem;
	--player-vs-fontsize: 1.5rem;
	--player-fontsize: 1rem;
	--player-name-fontsize: 1.2rem;
	--game-button-fontsize: 1rem;

	--fix-font-padding-bottom: 5px;

	/* Text clamping: number of lines */
	/* --max-lines: 4; */

	/* Maximum width (including dashboard margin) */
	--max-width: min(1440px, 100%);

	/* Radius */
	--button-radius: 0.25rem;

	/*Margins, gaps and paddings (+widths)*/
	--page-padding: 1rem;
	--page-gap: 1rem;
	--players-gap: 2rem;
	--shadow-len: 0.75rem;
	--shadow-len-mark: calc((var(--shadow-len)) / 4);
	--shadow-len-txt: calc((var(--shadow-len)) / 4);
	--button-padding: 0.5rem;
	--button-padding-fixed: var(--button-padding) var(--button-padding)
		calc(var(--button-padding) + var(--fix-font-padding-bottom));
	--input-padding-bottom: 0.1em;
	--vs-padding: 2vmax;

	/* Images / icons size */

	/* Shadows */
	/* --outset-shadow: 2px 2px 8px var(--col-accent-medium);
    --outset-shadow-btn-active: 2px 2px 5px var(--col-accent-medium);
    --inset-shadow: 2px 2px 2px var(--col-accent-light) inset; */

	/* Animations on hover / active / ...*/
	--time-animation: 0.2s;
}

/* ::backdrop { */
/* background-color: var(--col-black); */
/* opacity: 0.75; */
/* } */

html {
	background-color: var(--bg-col);
	color: var(--col-txt);
	font-family: var(--main-font), sans-serif;
	font-weight: 400;
	font-size: var(--txt-fontsize);
	line-height: var(--txt-lineheight);
	user-select: none;
}

*,
*:before,
*:after {
	font-family: inherit;
	font-size: inherit; /* 100% */
	line-height: inherit;
	color: inherit;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0 auto;
	height: 100vh; /*it is assumed the same for <html>*/
	height: 100dvh; /* if supported */

	/* if you want to allow scroll: */
	/* min-height: 100vh; */
	/* height: 100%; */

	width: 100%;
	/* or max-width -- this avoids horizontal scroll bars */

	touch-action: manipulation; /* disable double tap to zoom on some browsers*/
	/* user-select: none; */
}

/*****************************************************/

/* || Generic */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	background-color: var(--bg-col);
}

body > * {
	width: 100%;
}

/* .header-container, */
/* .main-container{ */
/* width: 100%; */
/* max-width: var(--max-width); */
/* margin: 0 auto; */
/* } */

/* main { */
/* width: 100%; */
/* max-width: var(--max-width); */
/* min-height: 100dvh; */
/* flex-shrink: 0; */
/* margin: 0 auto; */
/* } */

p {
	text-wrap: pretty; /*or balance */
}

ul,
ol {
	list-style: none;
}

a,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}

button {
	cursor: pointer;
}

/* when hover is supporte */
@media not all and (hover: none) {
	/* styles*/
}

/* tablet or larger, or landscape (vs portrait), 641px (phone), 961px (tablet) */
@media only screen and (min-width: 768px), (orientation: landscape) {
}

/* Customize scrollbars */
::-webkit-scrollbar {
	width: 4px; /* width of the entire scrollbar */
	height: 4px; /* height of the entire scrollbar */
}

::-webkit-scrollbar-track {
	background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
	background: #888; /* color of the scroll thumb */
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555; /* color of the scroll thumb on hover */
}

/* Structural styles ------ */
.game,
.game-end,
.home,
.game__players-div,
.game__player-div,
.player,
.players-name {
	display: flex;
	flex-direction: column;
	flex: 1;
}

@media only screen and (orientation: landscape) {
	.game__players-div {
		flex-direction: row;
	}
}

.game,
.game__players-div,
.game__player-div,
.player,
.player__gameboard,
.cell {
	overflow: hidden;
	min-height: 0;
	min-width: 0;
}

.game__player-div {
	width: 100%;
	height: 100%;
	justify-content: center;
}

.player {
	justify-content: center;
}

.player__player-h3 {
	text-align: center;
}

.gameboard {
	max-height: 100%;
	max-width: 100%;
	margin: 0 auto;
}

/* Colors, dimensions, and padding styles ---- */
.game,
.game-end,
.home,
.players-name {
	padding: var(--page-padding);
	gap: var(--page-gap);
}

.game,
.game__players-div {
	gap: var(--players-gap);
}

@media only screen and (orientation: landscape) {
	.game {
		gap: var(--page-gap);
	}
}

/* Custom Header style */
.game__header {
	display: flex;
	justify-content: center;
}

.game__header button {
	text-align: center;
	font-size: var(--game-button-fontsize);
}

/* Custom gameboard style */
.gameboard {
	padding: var(--shadow-len);
}

/* Custom cell style */
.cell {
	border: 1px solid var(--cell-border-col);
}

/* Page view */
.game-end,
.home,
.players-name {
	align-items: center;
	justify-content: space-between;
	margin: 1rem auto 10vh;
}

/* Players name view */
.players-name__players-cnt-div {
	display: grid;
	grid-template-rows: minmax(0, 1fr) min-content minmax(0, 1fr);
	grid-template-columns: minmax(0, 1fr);
	align-items: center;
}

.players-name__player-div {
	background-color: var(--txt-bg-col);
	padding: var(--button-padding);
	border: none;
	border-radius: var(--button-radius);
	box-shadow: 0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.players-name__player-name-p,
.players-name__player-name-input,
.players-name__player-title-p,
.players-name__vs-p {
	color: var(--col-txt-alt);
	text-shadow: 0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt);
	text-align: center;
	vertical-align: middle;
}

.players-name__player-name-p,
.players-name__player-name-input {
	font-size: var(--player-name-fontsize);
	background: var(--orange-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: drop-shadow(
		0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt)
	);
	text-shadow: none;
	font-weight: bold;
}

.players-name__player-name-input {
	height: calc(
		var(--line-height) * var(--player-name-fontsize) +
			var(--input-padding-bottom)
	);
	outline: none;
	border: none;
	border-bottom: 2px solid var(--col-txt-alt);
	width: 80%;
}

.players-name__player-name-input::placeholder {
	color: var(--col-grey);
}

.players-name__player-name-input:feocus {
	border-bottom-color: var(--col-txt-accent);
}

.players-name__player-title-p {
	font-size: var(--player-title-fontsize);
}

.players-name__vs-p {
	font-size: var(--player-vs-fontsize);
	font-family: var(--accent-font);
	padding: var(--vs-padding) 0
		calc(var(--fix-font-padding-bottom) + var(--vs-padding));
	font-weight: bold;
	opacity: 0.8;
}

@media only screen and (orientation: landscape) {
	.players-name__players-cnt-div {
		grid-template-columns: minmax(0, 1fr) min-content minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr);
	}

	.players-name__vs-p {
		padding: 0 var(--vs-padding) var(--fix-font-padding-bottom);
	}
}

/* Background and shadows */
body,
.gameboard,
.hit-mark,
.miss-mark {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.gameboard {
	background-color: var(--gameboard-bg-col);
	background-image: url("./assets/images/backgrounds/sea.jpg");
	box-shadow: 0px 0px var(--shadow-len) var(--col-black) inset;
}

body:has(.game-end.winner-2p) {
	background-image: url("./assets/images/backgrounds/winner-2p.jpg");
}

body:has(.game-end.defeated-1p) {
	background-image: url("./assets/images/backgrounds/defeated-1p.jpg");
}

body:has(.game-end.winner-1p) {
	background-image: url("./assets/images/backgrounds/winner-1p.jpg");
}

body:has(.home),
body:has(.players-name) {
	background-image: url("./assets/images/backgrounds/home.jpg");
}

body:has(.game) {
	background-image: url("./assets/images/backgrounds/battle.jpg");
}

.hit-mark {
	background-image: url("./assets/images/hit_miss_marks/hit.png");
	filter: drop-shadow(0 0 var(--shadow-len-mark) var(--cell-hit-col));
}

.miss-mark {
	background-image: url("./assets/images/hit_miss_marks/miss.png");
	filter: drop-shadow(0 0 var(--shadow-len-mark) var(--cell-miss-col));
}

/* Players info */
.player__player-h3 {
	color: var(--col-txt-alt);
	text-shadow: 0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt);
	font-weight: normal;
	padding-bottom: var(--fix-font-padding-bottom);
	font-size: var(--player-fontsize);
}

.currentPlayer .player__name-span {
	background: var(--orange-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: drop-shadow(
		0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt)
	);
	text-shadow: none;
}

.player__name-span {
	font-weight: bold;
	font-family: var(--accent-font);
	font-size: var(--player-name-fontsize);
}

/* Custom msg p style */
.game__msg-p {
	text-align: center;
	font-size: var(--msg-fontsize);
	text-wrap: pretty;
	color: var(--col-txt-alt);
	text-shadow: 0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt);
}

/* Ships */
.ship {
	filter: drop-shadow(0 0 var(--shadow-len) var(--col-black));
}

.ship.sunk .ship__mask {
	background-color: var(--col-sunk-ship-overlay);
}

/* Texts */
.game-end__title-h2,
.game-end__subtitle-p,
.home__title-h1,
.home__subtitle-p,
.players-name__title-h1,
.players-name__subtitle-p {
	text-align: center;
	text-wrap: balance;
}

.game-end__title-h2,
.home__title-h1,
.players-name__title-h1 {
	font-size: var(--title-fontsize);
	font-family: var(--accent-font);
	font-weight: bold;
	background: var(--orange-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	filter: drop-shadow(
		0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt)
	);
	line-height: 1;
	padding-bottom: 0.2em;
}

.game-end__subtitle-p,
.home__subtitle-p,
.players-name__subtitle-p {
	color: var(--col-txt-alt);
	font-size: var(--subtitle-fontsize);
	text-shadow: 0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt);
}

/* Buttons */
button {
	padding: var(--button-padding-fixed);
	font-family: var(--accent-font);
	background: var(--orange-gradient);
	font-weight: bold;
	border: none;
	border-radius: var(--button-radius);
	font-size: var(--button-fontsize);
	transition: transform var(--time-animation);
	box-shadow: 0 var(--shadow-len-txt) var(--shadow-len-txt) var(--col-txt);
}

button:active {
	transform: translateY(-5px);
}

@media not all and (hover: none) {
	button:hover {
		transform: translateY(-5px);
	}
}

.home__players-btns {
	display: flex;
	gap: 1rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
}

.home__players-btns button,
.players-name__play-btn {
	width: 8em;
}

.gameboard.aiming .cell.hit,
.gameboard.aiming .cell.miss,
.gameboard.aiming .hit-mark,
.gameboard.aiming .miss-mark {
	cursor: not-allowed;
}

.gameboard.aiming .cell:not(.hit):not(.miss) {
	cursor: crosshair;
}
